.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;


    &__text {
        text-align: center;
        margin-top: 1rem;
        line-height: 1;
        padding-bottom: 2rem;
        border-bottom: 1px solid var(--color-border);
    }
    &__user-name {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: .3rem;
        color: var(--color-grey-light-3);
    }

    &__name {
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--color-grey-light-4);
    }

    &__picture-box {

    }

    &__picture {
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
    }
}